
.panel-list .mail-box-header {
    padding: 0px 20px 10px 20px;
}

.panel-list .panel-list-empty tr td {
    border: 0;
}

.panel-list .mail-box-header h2 {
    margin-top: 20px;
}

.panel-list .table-hover > tbody.panel-list-empty > tr:hover {
    background-color: transparent;
}

.panel-list .table-hover > tbody:not(.panel-list-empty) > tr:not(.panel-list-model-action) {
    cursor: pointer;
}

.panel-list .table-hover > tbody:not(.panel-list-empty) > tr.bg-warning:hover {
    background-color: rgba(238, 234, 213, 0.91);
}

.panel-list th a {
    color: #676a6c;
}

.panel-list-checkbox {
    width: 54px;
}

.panel-list-checkbox .checkbox {
    margin-top: 2px;
    margin-bottom: 0;
}

.panel-list-checkbox .checkbox input[type="checkbox"] {
    cursor: pointer;
    -ms-transform: scale(1.8); /* IE */
    -moz-transform: scale(1.8); /* FF */
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -o-transform: scale(1.8); /* Opera */
    padding: 10px;
}

.panel-list-sort {
    width: 70px;
    min-width: 70px;
}

body .panel-list table.panel-list-table thead th.panel-list-sort-handler {
    width: 1%;
}

body .panel-list table.panel-list-table tbody td.panel-list-sort-handler {
    font-size: 1px;
    width: 1%;
    cursor: move;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.panel-list-table tr td:first-child:not(.panel-list-checkbox),
.panel-list-table tr th:first-child:not(.panel-list-checkbox) {
    padding-left: 20px;
}

.panel-list td.panel-list-model-action {
    padding: 12px 4px;
    width: 10px;
}

td.panel-list-model-action:last-child {
    padding-right: 12px;
}

h2 + .panel-list-tools {
    margin-top: 20px;
}

.panel-list-empty td {
    text-align: center;
    padding: 30px 0 !important;
    background-color: transparent;
}

.panel-list-move-to-select {
    min-width: 0;
    max-width: 220px;
    width: auto;
    display: inline;
    position: relative;
    top: 2px;
}

.panel-list-selected {
    background-color: #fcf8e3
}

.table-hover > tbody > tr.panel-list-selected:focus,
.table-hover > tbody > tr.panel-list-selected:hover {
    background-color: rgba(252, 241, 187, 0.75)
}

.table-hover > tbody > tr.panel-list-selected.bg-danger {
    background-color: #F8DEE0;
}

.table-hover > tbody > tr.panel-list-selected.bg-danger:focus,
.table-hover > tbody > tr.panel-list-selected.bg-danger:hover {
    background-color: #f8d2cb;
}

.panel-list .inactive img {
    opacity: 0.4;
}

.panel-list-data-cell a {
    color: inherit;
    text-decoration: underline;
}

.panel-list-table {
    margin-bottom: 0;
}

.tabs-container + .panel-list .mail-box-header {
    border-top: 1px solid #fff;
}

.panel-list-filter {
    margin-bottom: 0;
    position: relative;
    top: 1px;
}

.panel-list-filter .ibox-title {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.panel-list-filter .ibox-title h5 {
    font-weight: normal;
    position: relative;
    left: 2px;
}

.panel-list-filter .ibox-content {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.panel-list-pagination-top .pagination,
.panel-list-pagination-bottom .pagination {
    margin: 0;
}

.panel-list-pagination-bottom {
    margin: 20px 0;
}

.panel-list-pagination-top {
    margin-bottom: 10px;
}

.panel-list-pagination .total {
    float: left;
    padding: 4px 10px;
    opacity: 0.7;
}

.panel-list-pagination .text-right .pagination > li:nth-child(2) span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}