.pace-done #tree-node,
.pace-done #tree-node .ibox .ibox-title {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-right: 1px solid #e7eaec;
}

#tree-node {
    background: #fff;
    position: fixed;
    width: 1px;
    left: -10px;
    overflow: auto;
    z-index: 2002;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .tree-opened #tree-node {
        width: 380px;
        left: 0px;
    }

    body.mini-navbar.tree-opened #page-wrapper,
    .tree-opened #page-wrapper {
        margin-left: 380px;
    }
}

#tree-node .ibox {
    position: relative;
}

#tree-node .ibox .ibox-title {
    position: fixed;
    width: 380px;
    left: -380px;
    border-bottom: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.tree-opened #tree-node .ibox .ibox-title {
    left: 0;
    z-index: 2;
}

#tree-node .ibox .ibox-content {
    position: relative;
    top: 48px;
    border-top: none;
    z-index: 1;
}

#jstree-marker {
    z-index: 3000;
}

.jstree-contextmenu {
    z-index: 3001;
}

#tree-node .disabled > a {
    opacity: 0.5;
}

#tree {
    width: 380px;
    min-width: 380px;
    overflow: scroll;
}

