.wrapper-tabs {
    position: relative;
}

.tabs-container + .panel-form,
.tabs-container + .wrapper-panel .panel-form,
.wrapper-tabs + .panel-form,
.wrapper-tabs + .wrapper-panel  .panel-form {
    border-left: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    position: relative;
    top: -1px;
}

.tabs-container + .panel-form .ibox-title,
.tabs-container + .wrapper-panel .panel-form .ibox-title,
.wrapper-tabs + .panel-form .ibox-title,
.wrapper-tabs + .wrapper-panel .panel-form .ibox-title,
.tabs-container + .panel-form .ibox-content,
.tabs-container + .wrapper-panel .panel-form .ibox-content,
.wrapper-tabs + .panel-form .ibox-content,
.wrapper-tabs + .wrapper-panel .panel-form .ibox-content{
    border-top: 0;
}

.panel-form form h2 {
    margin-top: 60px;
}

.panel-form form h2:first-child {
    margin-top: 0;
}