.panel-list .inactive, .panel-tree .inactive, .panel-form .inactive, .panel-show .inactive, .panel-show .form-group .value.inactive {
    color: #ccc;
}

.panel-list .inactive img, .panel-tree .inactive img, .panel-form .inactive img, .panel-show .inactive img {
    opacity: 0.4;
}

.wrapper-tabs {
    padding: 20px 10px 0;
}

.wrapper-tabs + .wrapper-panel .mail-box-header,
.wrapper-tabs + .wrapper-panel .ibox-title {
    border-top: 1px solid #ffffff;
}

.wrapper-tabs + .wrapper-panel {
    padding-top: 0;
}