.files-loader {
    font-size: 19px;
    vertical-align: middle;
}

.files-container {
    padding: 10px 0 10px 0;
    position: relative;
}

.files-container .file-item-image {
    float: left;
    text-align: center;
    width: 150px;
    height: 180px;
    margin-right: 15px;
}

.files-container .file-item-image img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 5px 5px 14px -7px rgba(0,0,0,0.75);
}

.files-container .file-item-delete {
    color: #ED5565;
}

.files-container .file-image-suggested {
    opacity: 0.4;
}